.video-content {
  background: url(../img/video/ScrinBg.jpg) no-repeat;
  background-size: cover;
  width: 56%;
  height: 441px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: -0.5%;
  @media (max-width: 767px) {
    width: 80%;
  }
  @media (max-width: 448px) {
    width: 85vw;
    height: auto;
  }
  @media (max-width: 375px) {
    margin-top: -281px;
    margin-left: -12px;
    height: 196px;
    margin-bottom: 83px;
  }

  & h3 {
    font-family: var(--font-rare);
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    text-transform: uppercase;
    @media (max-width: 448px) {
      font-size: 13px;
      line-height: 22px;
      padding-bottom: 28px;
    }
    @media (max-width: 375px) {
      line-height: 0;
      padding-bottom: 49px;
    }
  }

  & h5 {
    font-family: var(--font-rare);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 11px;
    @media (max-width: 448px) {
      font-size: 10px;
    }
  }

  &__overlay {
    text-align: center;

    & button {
      padding: 69px 19px 3px 22px;
      width: 28%;
      margin-bottom: 23px;
      @media (max-width: 448px) {
        width: 50%;
        padding: 100px 19px 0 22px;
      }

      & img {
        @media (max-width: 448px) {
          width: 50%;
        }
      }
    }
  }
}

